<!DOCTYPE html>
<script>
    function setCountDown( game_id="", countDown ) {
        countDown = parseInt( countDown );

        let countDownHandler = setInterval( () => {
            countDown -= 1;
            document.getElementById( "countDown"+game_id ).innerHTML = `${countDown} s`;
            if ( countDown <= 0 ) {
                countDown = 0;
                document.getElementById( game_id ).remove();
                clearInterval( countDownHandler );
            }
        }, 1000 );
    }                    
</script>
<html>
    <title> GCT - Home </title>
    <body>
        <%- include("partials/navbar.ejs", { activeNav: "Home" } ) %>

        <table class="table" id="gameListTable" >
            <thead>
                <th>#</th>
                <th>Host</th>
                <th>Wait Time Out</th>
                <th>Join</th>
            </thead>
            <tbody id="gameListTableBody">
                <% gameList.forEach( ( game, ind ) => { %>
                    <tr id="<%= game.game_id %>">
                        <th><%= ind + 1  %></th>
                        <td> <%= game.host %> </td>
                        <td id="countDown<%= game.game_id %>"> <%= game.countDown %> s </td>
                        <td><form method="get" action="/game/join" >
                            <input type="text" name="game_id" value="<%= game.game_id %>" hidden>
                            <button type="submit" class="btn btn-success">Join</button>
                        </form></td>
                    </tr>
                    <script> setCountDown( "<%= game.game_id %>", "<%= game.countDown %>")</script>
                <% }) %>
            </tbody>
        </table>
       
        <script>
            socket.on( "/game/list", ({ host, countDown, game_id }) => {
                const gameListTableBody = document.getElementById( "gameListTableBody" );
                gameListTableBody.innerHTML = 
                `<tr id="${game_id}">
                    <th> 1 </th>
                    <td> ${host}</td>
                    <td id="countDown${game_id}"> ${countDown} s </td>
                    <td><form method="post" action="/game/join" >
                        <input type="text" name="game_id" value="${game_id}" hidden>
                        <button type="submit" class="btn btn-success">Join</button>
                    </form></td>
                </tr>`;
                setCountDown( game_id, countDown );
            }) 
        </script>
    </body>
</html>